body{
  font-family: 'IM Fell English', serif;
  color: #fff;
  background-color: #1E1C1C;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
}

input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #2196f3 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

label.text-danger {
  font-weight: 400;
}