
body{
  font-family: 'IM Fell English', serif;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
}

input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

label.text-danger {
  font-weight: 400;
}

 #editor {
    height: 200px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#privacy {
    margin-left: 20px;
}
